# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Rmd cache
*/*_files/
*/*_cache

# ignore tmp folders
refs/
.Rproj.user
